<app-header></app-header>
<div class="container-fluid">
    <div class="row" class="row-principal">
      <div class="col-md-12 mb-4" >
        <img src="/assets/avatar.png"  alt="Logo" width="231" height="164" class="d-inline-block ">
      </div>
      <div class="col-md-12 mb-4">
        <label class="col-et-bv" >{{bienvenido}}</label>
      </div>
      <div class="col-md-12">
        <button (click)="continuar();" type="button" class="btn btn-outline-info" >Continuar</button>
      </div>
  </div>
</div>

<div class="container-fluid foover">
  <div class="card " >
    <div class="card-body txt-right" >
      <p class="card-text">{{version}}</p>
    </div>
  </div>
</div>
