.foover{
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 10px;
  margin-bottom: 10px;
}

.row-principal{
  text-align: center; margin-top: 70px;
}

.col-et-bv{
  font-size: 1.3rem; color: #525659;
}

.txt-right{
  text-align: right;
}
